/* Common styles for both hero and about sections */
.section {
    padding: 20px;
  }
  
  /* Hero Section */
  
  .hero {
      height: 45vh; /* Adjusted height for the hero section */
      background:  url('./assets/clean-house.png') center/cover no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      position: relative;
    }
    .hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    }
    
  .hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    color: white;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .arrow-down {
    width: 40px;
    height: 40px;
    background: url('') center/cover no-repeat;
    cursor: pointer;
  }
  
  /* About Section */
  .about-us {
    text-align: center;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
  }
  
  .about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .button {
    margin-bottom: 30px;
  }
  
  /* Responsive styles */

@media (max-width: 845px) {
    .about-content {
        padding: 0 20px;
    }
}

  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2em;
    }
  
    .hero-content p {
      font-size: 1em;
    }
  
    .arrow-down {
      width: 30px;
      height: 30px;
    }
  
    .about-content h2 {
      font-size: 1.5em;
    }
  
    .about-content p {
      font-size: 1em;
    }
  }
  